@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html , body{
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100vh;
    animation: fadein 2s; 
    overflow: hidden;
}
@keyframes fadein {
 0% {
 opacity:0;
 }
 100% {
 opacity:1;
 }
}


/*----------------gauche-------------*/
section .left{
    width: 35%;
    float: left;
    color: black ;
}


h1{
    color: #2E3973;
    font-size: 300%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    margin-top: 1%;
    
}

 h2{
    color: #2E3973;
    font-size: 200%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
}


/*PICTOGRAMME*/
section .left aside #picto {
    color: #542E9A;
}

section .right .picto {
    color: #542E9A;
}


/*MMIFOUNDRY*/
section .left aside #mmi {
    color: #333333;
}

section .right .mmi {
    color: #333333;
}


/*----------------Nav-------------*/
section .left nav {
    margin-top: 5% ;
    margin-left: 14%;   
}


section .left nav img{
    margin-left: 10px;
    width: 11.7%;
    transition: .4s;
}
section .left nav img:hover{
    opacity: 0.6;
}


/*-----------------Aside-------------*/
section .left aside{
    width: 75%;
    margin: 5% 0% 0% 16%;
    font-size: 100%;

}

section .left aside p{
    width: 90%;
    position: relative;
    display: flex;
    font-size: 16px;
    font-family: 'Roboto';
    
}



/*-----------------Bande a gauche-------------*/

section .left .anima .band{
    position: absolute;
    background-color: #181E3D;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band2{
    position: absolute;
    background-color: #2E3973;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band3{
    position: absolute;
    background-color: #3D4D9A;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band4{
    position: absolute;
    background-color: #4B5EBC;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}

@keyframes band{
    0%{transform: scaleX(1);}
    6%{transform: scaleX(2.5);}
    12%{transform: scaleX(1);}
    100%{transform: scaleX(1);}
    
}



/*PICTOGRAMME bande*/

section .left .anima .band11{
    position: absolute;
    background-color: #542E9A;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band22{
    position: absolute;
    background-color: #5E34B3;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band33{
    position: absolute;
    background-color: #7050CC;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band44{
    position: absolute;
    background-color: #9A79FF;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}


/*MMI FOUNDRY bande*/

section .left .anima .band111{
    position: absolute;
    background-color: #333333;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band222{
    position: absolute;
    background-color: #4D4D4D;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band333{
    position: absolute;
    background-color: #808080;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band444{
    position: absolute;
    background-color: #B3B3B3;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}





/*----------------Nav projet-------------*/
section .left .autre{
    width: 75%;
    margin: 5% 0% 0% 16%;
}

section .left .autre2{
   display: none;
}

section .left .autre h3{
    color: #4A3933;
    font-size: 120%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 550;
    width: 100%;
    margin-left: 5%;
   
}


section .left .autre .vide{
    width: 100px;
    height: 2px;
    padding-right: 40%;
    background-color: #181E3D;
    margin: 30% 0% 1% 0%;
}


section .left .autre img:hover{
    opacity: 0.6;
}
section .left .autre .lien{
    margin-top: 5%;
    display: flex;
   
  
}
section .left .autre .vide{
    width: 50%;
}



section .left .autre .button{
    width: 65%;
    outline: none;
    text-decoration: none;
    float: right;
    font-size: 95%;
    cursor: pointer;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    color: #4A3933;
    transition: .4s linear;
    text-align: left;
    margin-bottom: 3%;
    z-index: 1000;
}

section .left .autre a {
   width: 7%;
}

/*----------------Droite-------------*/
section .right{
    position: relative;  
    width: 65%;
    height: 100vh;
    float: right;
    overflow-y: scroll;

}

section .right p{
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto';
}


/*////////SYNOPTECH////////*/
section .right .imga{
    margin-top: 0.5%;
    width: 100%;
    padding-bottom: 10%;
    background-color: #2E3973;

}

section .right .imga img{
    margin: 5% 0% 0% 25%;
    width: 55%;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0))

}






section .right .logo .imga{
    margin-top: 5%;
    /*width: 50%;*/
    width: 100%;
    /*height: 40%;*/
    padding-bottom: 5%;
    background-color: #4B5EBC;
    /*position: absolute;
      z-index: 200;*/

}
section .right .logo img{
    /*position: relative;*/
    width: 80%;
    margin: 5% 0% 0% 12%;
    z-index:201;

}



section .right .affiche .imga{
    margin-top: 2%;
    width: 500px;
    height: 200px;
    padding-bottom: 5%;
    background-color: #2E3973;
    position: absolute;
      z-index: 200;
}

section .right .affiche .imga3{
    margin-top: 3%;
    margin-left: 1%;
    width: 500px;
    height: 200px ;
    padding-bottom: 5%;
    background-color: #4B5EBC;
    position: absolute;
      z-index: 199;
}
section .right .affiche .imga2{
    margin-top: 35%;
    margin-left: 50%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #2E3973;
    position: absolute;
      z-index: 200;

}
section .right .affiche .imga4{
    margin-top: 36%;
    margin-left: 51%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #4B5EBC;
    position: absolute;
      z-index: 199;

}



section .right .affiche img{
    position: relative;
    width: 50%;
    margin: 10% 0% 0% 20%;
    z-index:201;

}


section .right .affiche .aff{
    margin-left: 8%;
    overflow: hidden;
}



section .right .maquette h2{
    color: #2E3973;
    font-size: 200%;
    margin-bottom: 1%;
    font-family: 'Oswald','Sans-serif';
    font-style: normal;
    font-weight: 500;
    width: 100%;
    margin-top: 10%;
}


section .right .maquette .imga{
    margin-top: 2%;
    width: 100%;
    padding-bottom: 4%;
    background-color: #4B5EBC;

}

section .right .maquette .imga img{
    width: 60%;
    margin: 5% 0% 0% 20%;
    z-index:201;
}


section .right .mockup .imga img{
    width: 30%;
    margin: 8% 0% 0% 2%;
}


section .right .charte{
    width: 100%;
    height: 70%;
}
/*//////FIN SYNOPTECH////*/


/*//////PICTOGRAMME////*/
section .right .imgb #picto{
    margin: 5% 0% 5% 0%;
    width: 100%;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0))

}
section .right .logo .imgaPicto{
    margin-top: 5%;
    width: 100%;
    padding-bottom: 5%;
    background-color: #542E9A;
}


/*affiche*/
section .right .affiche .imgaPicto{
    margin-top: 2%;
    width: 500px;
    height: 200px;
    padding-bottom: 5%;
    background-color: #5E34B3;
    position: absolute;
      z-index: 200;
}

section .right .affiche .imgaPicto3{
    margin-top: 3%;
    margin-left: 1%;
    width: 500px;
    height: 200px ;
    padding-bottom: 5%;
    background-color: #9A79FF;
    position: absolute;
      z-index: 199;
}
section .right .affiche .imgaPicto2{
    margin-top: 35%;
    margin-left: 50%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #5E34B3;
    position: absolute;
      z-index: 200;

}
section .right .affiche .imgaPicto4{
    margin-top: 36%;
    margin-left: 51%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #9A79FF;
    position: absolute;
      z-index: 199;

}




section .right .affiche p{
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto';
}

section .right .miseSituation h2{
    margin-top: 10%;
}

section .right .miseSituation img{
    width: 30%;
    margin: 8% 0% 0% 2%;
}


/*Mise en situation*/
section .right .miseSituation .imgaPicto{
    margin-top: 2%;
    width: 100%;
    padding-bottom: 4%;
    background-color: #542E9A;

}

 /*/////FIN Picto//////*/


  /*/////MMI FOUNDRY//////*/
  section .right .imgc{
    margin-top: 0.5%;
    width: 100%;
    padding-bottom: 10%;
    background-color: #333333;

}

section .right .imgc #mmi{
    margin: 5% 0% 5% 25%;
    width: 50%;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0))

}
section .right .logo .imgaMmi{
    margin-top: 5%;
    width: 100%;
    padding-bottom: 5%;
    background-color: #B3B3B3;
}


/*affiche*/
section .right .affiche .imgaMmi{
    margin-top: 2%;
    width: 500px;
    height: 200px;
    padding-bottom: 5%;
    background-color: #333333;
    position: absolute;
      z-index: 200;
}

section .right .affiche .imgaMmi3{
    margin-top: 3%;
    margin-left: 1%;
    width: 500px;
    height: 200px ;
    padding-bottom: 5%;
    background-color: #B3B3B3;
    position: absolute;
      z-index: 199;
}
section .right .affiche .imgaMmi2{
    margin-top: 35%;
    margin-left: 50%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #333333;
    position: absolute;
      z-index: 200;

}
section .right .affiche .imgaMmi4{
    margin-top: 36%;
    margin-left: 51%;
    width: 250px;
    height: 500px;
    padding-bottom: 5%;
    background-color: #B3B3B3;
    position: absolute;
      z-index: 199;

}



section .right .affiche p{
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto';
}

section .right .miseSituation img{
    width: 100%;
    margin: 4% 0% 2% 0%;
}
section .right .mockup .imgaMmi{
    width: 100%;
    background-color: #B3B3B3;
}



section .right .mockup .imgaMmi img{
    width: 30%;
    margin: 8% 0% 5% 2%;
}


@media screen and (max-width : 1700px) {

    
    section .left .autre .vide{
        margin: 20% 0% 1% 0%;
    }
    


    section .right .affiche .imgaMmi{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imgaMmi3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imgaMmi2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imgaMmi4{
    
        width: 200px;
        height: 400px;
  
    
    }


    section .right .affiche .imgaPicto{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imgaPicto2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imgaPicto4{
    
        width: 200px;
        height: 400px;
  
    
    }




    section .right .affiche .imga{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imga3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imga2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imga4{
    
        width: 200px;
        height: 400px;
  
    
    }
        
    /* PICTOGRAMME bande*/
    section .left .anima .band11{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band22{
        width: 16px;
        height: 100%;
    
    }
    section .left .anima .band33{
        width: 17px;
        height: 100%;
    }
    section .left .anima .band44{
        width: 18px;
        height: 100%;
    }
    
    /* MMIFOUNDRY bande*/
    section .left .anima .band111{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band222{
        width: 16px;
        height: 100%;
    
    }
    section .left .anima .band333{
        width: 17px;
        height: 100%;
    }
    section .left .autre .vide{
        margin-top: 2%;

    }
    section .left .autre .vide{
        margin-top: 3%;

    }


    
}

@media  screen and (max-width : 1500px) {

    section .right .affiche .imgaMmi{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaMmi3{
     
        width: 400px;
        height: 100px ;
      
    }

        section .right .affiche .imgaPicto{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 400px;
        height: 100px ;
      
    }



    section .right .affiche .imgaPicto{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 400px;
        height: 100px ;
      
    }


    section .right .affiche .imga{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imga3{
     
        width: 400px;
        height: 100px ;
      
    }
    section .left aside p{
        font-size: 13px;
    }
    section .left .autre .vide{
        margin-top: 2%;

    }
  
   
}

@media screen and (max-width : 1350px) {
    section .left aside p{
        font-size: 13px;
    }

    h1{
        font-size:280% ;
    }
    
    section .right p{
        font-size: 13px;

    }
    
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 350px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 350px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 350px;
    }
      
    
}

@media screen and (max-width : 1050px) {

       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 250px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 270px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 270px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 270px;
    }
      
 
    
}

@media screen and (max-width : 990px) {
    section .left aside p{
        font-size: 11px;
    }
    section .left .autre .button{

        font-size: 75%;
   
    }

    h1{
        font-size:220% ;
    }
    
    section .right p{
        font-size: 11px;
    }
    section .right .affiche p{
        font-size: 11px;
    }
    
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 200px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 200px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 200px;
    }
      

}


@media screen and (max-width : 720px ) {
    html , body{
        overflow: visible;
    }

    section .left{
        margin-top: 5%;
        clear: both;
        width: 100%;
        justify-content: center;
    }
    section .left aside{
        margin: 1%;
    }
    
    section .right{
        clear: both;
        width: 100%;
        height: 100%;
    }   
    
    section .left .autre{
        display: none;
    }
    
    section .left .autre2{
        display: block;
        width: 100%;
        margin-bottom: 10%;
    }
    
    section .left .autre2 h3{
        color: #4A3933;
        font-size: 120%;
        font-family: 'Big Shoulders Text', sans-serif;
        font-style: normal;
        font-weight: 550;
        width: 90%;
        margin-left: 3%;
       
    }
    
    
    section .left .autre2 .vide{
        width: 100%;
        height: 2px;
        padding-right: 40%;
        background-color: #181E3D;
        margin: 5% 0% 1% 0%;
    }
    
    
    section .left .autre2 img:hover{
        opacity: 0.6;
    }
    section .left .autre2 .lien{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    section .left .autre2 .vide{
        width: 60%;
    }
    
    section .left .autre2 .g{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section .left .autre2 .d{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    section .left .autre2 .button{
        width: 70%;
        outline: none;
        text-decoration: none;
        float: right;
        font-size: 95%;
        cursor: pointer;
        font-family: 'Oswald';
        font-style: normal;
        color: #4A3933;
        transition: .4s linear;
        text-align: left;
        margin-bottom: 3%;
        z-index: 1000;
        text-align: center;
    }
    
    section .left .autre2 a {
       width: 7%;
    }
    
    
    section .left nav{
        margin-left: 5%;
    }
    section .left nav ul{
    display: none;
    }
    section .left nav img{
        margin-left: 0px;

    }

    section .left .contents{
        width: 80%;
      
    }
      
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
      display: none;
    }

    section .right .affiche .imgaMmi3{
      display: none;
    }

    section .right .affiche .imgaMmi2{
        display: none;
    }
    section .right .affiche .imgaMmi4{
        display: none;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        display: none;
    }

    section .right .affiche .imgaPicto3{
        display: none;
    }

    section .right .affiche .imgaPicto2{
        display: none;
    }
    section .right .affiche .imgaPicto4{
        display: none;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        display: none;
    }

    section .right .affiche .imga3{
        display: none;
    }

    section .right .affiche .imga2{
        display: none;
    }
    section .right .affiche .imga4{
        display: none;
    }
    section .left .anima .band{
        display: none;
    }
    section .left  .anima .band2{
        display: none;
    }
    section .left .anima .band3{
        display: none;
    }
    section .left .anima .band4{
        display: none;
    }

    section .left .anima .band11{
        display: none;
    }
    section .left  .anima .band22{
        display: none;
    }
    section .left .anima .band33{
        display: none;
    }
    section .left .anima .band44{
        display: none;
    }

    section .left .anima .band111{
        display: none;
    }
    section .left  .anima .band222{
        display: none;
    }
    section .left .anima .band333{
        display: none;
    }
    section .left .anima .band444{
        display: none;
    }


    section .right .charte{
        width: 100%;
        height: 20%;
        margin-top: 10%;

    }


}

