@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html , body{
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100vh;
    animation: fadein 2s; 
    overflow: hidden;
}
@keyframes fadein {
 0% {
 opacity:0;
 }
 100% {
 opacity:1;
 }
}


/*----------------gauche-------------*/
section .left{
    width: 35%;
    float: left;
    color: black ;
}


h1{
    color: #5B808A;
    font-size: 300%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    
}

 h2{
    color: #5B808A;
    font-size: 200%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
}




/*----------------Nav-------------*/
section .left nav {
    margin-top: 5% ;
    margin-left: 14%;   
}


section .left nav img{
    margin-left: 10px;
    width: 11.7%;
    transition: .4s;
}
section .left nav img:hover{
    opacity: 0.6;
}


/*-----------------Aside-------------*/
section .left aside{
    width: 75%;
    margin: 5% 0% 0% 16%;
    font-size: 100%;
}

section .left aside p{
    width: 90%;
    position: relative;
    display: flex;
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: 20%;
}



/*-----------------Bande a gauche-------------*/

section .left .anima .band{
    position: absolute;
    background-color: #181E3D;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band2{
    position: absolute;
    background-color: #2E3973;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band3{
    position: absolute;
    background-color: #3D4D9A;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band4{
    position: absolute;
    background-color: #4B5EBC;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}

@keyframes band{
    0%{transform: scaleX(1);}
    6%{transform: scaleX(2.5);}
    12%{transform: scaleX(1);}
    100%{transform: scaleX(1);}
    
}





@media screen and (max-width : 1700px) {
        
    section .left .anima .band{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band2{
        width: 16px;
        height: 100%;

    }
    section .left .anima .band3{
        width: 17px;
        height: 100%;
    }
    section .left .anima .band4{
        width: 18px;
        height: 100%;
    }
        
}
/*----------------Nav projet-------------*/
section .left .autre{
    width: 75%;
    margin: 5% 0% 0% 16%;
}

section .left .autre2{
   display: none;
}


section .left .autre h3{
    color: #4A3933;
    font-size: 120%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 550;
    width: 100%;
    margin-left: 5%;
   
}


section .left .autre .vide{
    width: 100px;
    height: 2px;
    padding-right: 40%;
    background-color: #405B5D;
    margin: 40% 0% 1% 0%;
}

@media screen and (max-width : 1700px){

    section .left .autre .vide{
        margin: 20% 0% 1% 0%;
    }
    
}


section .left .autre img:hover{
    opacity: 0.6;
}
section .left .autre .lien{
    margin-top: 5%;
    display: flex;
   
  
}
section .left .autre .vide{
    width: 50%;
}



section .left .autre .button{
    width: 65%;
    outline: none;
    text-decoration: none;
    float: right;
    font-size: 95%;
    cursor: pointer;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    color: #4A3933;
    transition: .4s linear;
    text-align: left;
    margin-bottom: 3%;
    z-index: 1000;
}

section .left .autre a {
   width: 7%;
}


/*--animation--*/

section .left .autre .g .button:hover:first-child{
    color: #405B5D;
    transition: .5s;

}
section .left .autre .d .button:hover:first-child{
    color:  #058081;;
    transition: .5s;

}
section .left .autre .d .button:hover:last-child{
    color: #405B5D;
    transition: .5s;

}
section .left .autre .g .button:hover:last-child{
    color:  #058081;;
    transition: .5s;

}



/*----------------Droite-------------*/
section .right{
    position: relative;  
    width: 65%;
    height: 100vh;
    float: right;
    overflow-y: scroll;

}

section .right p{
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto';
}

section .right .imag{
    margin-top: 0.5%;
    width: 100%;
    margin-bottom: 10%;
    transition: .6s;
    overflow: hidden;

}
section .right .imag:first-child img{
    width: 100%;
    transition: .6s;
    margin-top: -10%;

}

section .right .imag img{
    width: 100%;
    transition: .6s;
}

section .right .aff{
    display: flex;
    width: 100%;

}
section .right .aff .imag{
    margin-top: 0.5%;
    margin-bottom: 10%;
    transition: .6s;
    overflow: hidden;

}
section .right .aff .imag img{
    width: 100%;
    transition: .6s;
}
section .right .aff .imag img:first-child{
    width: 100%;
    transform: scale(1.13);
    transition: .6s;
}
section .right .aff .imag:hover img:first-child{
    transform: scale(1.2);

}

section .right .imag:hover img{
    transform: scale(1.1);

}
@media screen and (max-width : 1700px) {


    section .left .autre .vide{
        margin-top: 3%;

    }
}


@media screen and (max-width : 1350px) {
    section .left aside p{
        font-size: 13px;
    }

    h1{
        font-size:280% ;
    }
    
    section .right p{
        font-size: 13px;

    }
      
    /*bande animé*/
    section .left .anima .band1{
        width: 9px;
    }
    section .left  .anima .band2{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band3{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band4{
        left: 29px;
        width: 12px;
    }

     /*bande animé*/
     section .left .anima .band11{
        width: 9px;
    }
    section .left  .anima .band22{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band33{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band44{
        left: 29px;
        width: 12px;
    }

     /*bande animé*/
     section .left .anima .band111{
        width: 9px;
    }
    section .left  .anima .band222{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band333{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band444{
        left: 29px;
        width: 12px;
    }
    section .left aside p{
        font-size: 13px;
    }
    section .left .autre .vide{
        margin-top: 2%;

    }
    
}

@media screen and (max-width : 1200px) {
    section .left aside p{
        font-size: 13px;
    }

    section .left aside h1{
        font-size:280% ;
    }

    /*bande animé*/
    section .left .anima .band{
        width: 9px;
    }
    section .left  .anima .band2{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band3{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band4{
        left: 29px;
        width: 12px;
    }
    section .left aside p{
        font-size: 13px;
    }
    section .left .autre .vide{
        margin-top: 2%;

    }

    
}

@media screen and (max-width : 990px) {
    section .left aside p{
        font-size: 11px;
    }
    section .left .autre .button{

        font-size: 75%;
    }

    h1{
        font-size:220% ;
    }
    


    /*bande animé*/
    section .left .anima .band{
        width: 7px;
    }
    section .left  .anima .band2{
        left: 7px;
        width: 9px;
    }
    section .left .anima .band3{
        left: 15px;
        width: 10px;
    }
    section .left .anima .band4{
        left: 25px;
        width: 10px;
    }
    
    
}

@media screen and (max-width : 720px ) {
    html , body{
        overflow: visible;
    }

    section .left{
        margin-top: 15%;
        clear: both;
        width: 100%;
        justify-content: center;
    }
    section .left aside{
        margin: 1%;
    }
    
    section .right{
        clear: both;
        width: 100%;
        height: 100%;
    }   
    
    section .left .autre{
        display: none;
    }
    
    section .left .autre2{
        display: block;
        width: 100%;
        margin-bottom: 10%;
    }
    
    section .left .autre2 h3{
        color: #4A3933;
        font-size: 120%;
        font-family: 'Big Shoulders Text', sans-serif;
        font-style: normal;
        font-weight: 550;
        width: 90%;
        margin-left: 3%;
       
    }
    
    
    section .left .autre2 .vide{
        width: 100%;
        height: 2px;
        padding-right: 40%;
        background-color: #405B5D;
        margin: 5% 0% 1% 0%;
    }
    
    
    section .left .autre2 img:hover{
        opacity: 0.6;
    }
    section .left .autre2 .lien{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    section .left .autre2 .vide{
        width: 60%;
    }
    
    section .left .autre2 .g{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section .left .autre2 .d{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    section .left .autre2 .button{
        width: 70%;
        outline: none;
        text-decoration: none;
        float: right;
        font-size: 95%;
        cursor: pointer;
        font-family: 'Oswald';
        font-style: normal;
        color: #4A3933;
        transition: .4s linear;
        text-align: left;
        margin-bottom: 3%;
        z-index: 1000;
        text-align: center;
    }
    
    section .left .autre2 a {
       width: 7%;
    }
    
    

   
    section .left nav{
        margin-left: 5%;
    }
    section .left nav ul{
    display: none;
    }
    section .left nav img{
        margin-left: 0px;

    }


    section .left .contents{
        width: 80%;
      
    }
      

    section .left .anima .band{
        display: none;
    }
    section .left  .anima .band2{
        display: none;
    }
    section .left .anima .band3{
        display: none;
    }
    section .left .anima .band4{
        display: none;
    }

  


}




