@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html , body{
    padding: 0;
    margin: 0;
    background-color: #FFF;
    height: 100vh;
    animation: fadein 2s; 
    overflow: hidden;
}
@keyframes fadein {
 0% {
 opacity:0;
 }
 100% {
 opacity:1;
 }
}


/*----------------gauche-------------*/
section .left{
    width: 35%;
    float: left;
    color: black;
}


section .left aside #dashboard {
    color: #1F2027;
    font-size: 300%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
}

section .left aside #mmiApres {
    color: #273272;
    font-size: 300%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    
}
section .left aside #cinePlus {
    color: #010B1B;
    font-size: 300%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    
}


 h2{
    color: #1F2027;
    font-size: 200%;
    margin-bottom: 1%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
}


/*PICTOGRAMME*/
section .left aside #picto {
    color: #542E9A;
}

section .right .picto {
    color: #542E9A;
}


/*MMIFOUNDRY*/
section .left aside #mmi {
    color: #333333;
}

section .right .mmi {
    color: #333333;
}


/*----------------Nav-------------*/
section .left nav {
    margin-top: 5% ;
    margin-left: 14%;   
}


section .left nav img{
    margin-left: 10px;
    width: 11.7%;
    transition: .4s;
}
section .left nav img:hover{
    opacity: 0.6;
}


/*-----------------Aside-------------*/
section .left aside{
    width: 75%;
    margin: 5% 0% 0% 16%;
    font-size: 100%;
}

section .left aside p{
    width: 90%;
    position: relative;
    display: flex;
    font-size: 16px;
    font-family: 'Roboto';
    margin-left: 5%;
}



/*-----------------Bande a gauche-------------*/

section .left .anima .band1{
    position: absolute;
    background-color: #3A0EC3;
    width: 12px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band2{
    position: absolute;
    background-color: #5909D9;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band3{
    position: absolute;
    background-color: #7704EE;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band4{
    position: absolute;
    background-color: #8E01FE;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}

@keyframes band{
    0%{transform: scaleX(1);}
    6%{transform: scaleX(2.5);}
    12%{transform: scaleX(1);}
    100%{transform: scaleX(1);}
    
}



/*PICTOGRAMME bande*/

section .left .anima .band11{
    position: absolute;
    background-color: #010B1B;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band22{
    position: absolute;
    background-color: #660C22;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band33{
    position: absolute;
    background-color: #CB0C29;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band44{
    position: absolute;
    background-color: #e1e1d5;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}


/*MMI FOUNDRY bande*/

section .left .anima .band111{
    position: absolute;
    background-color: #273272;
    width: 19px;
    height: 100%;
    top: 0px;
    left: 0;
    animation: band 15s 10s  reverse infinite;
    z-index:54 ;
}
section .left  .anima .band222{
    position: absolute;
    background-color: #472c82;
    width: 26px;
    height: 100%;
    top: 0px;
    left: 10px;
    z-index:53 ;
    animation: band 15s 10.2s  reverse infinite ;
}
section .left .anima .band333{
    position: absolute;
    background-color: #9f2585;
    width: 28px;
    height: 100%;
    top: 0px;
    left: 24px;
    z-index: 52;
    animation: band 15s 10.4s  reverse  infinite;
}
section .left .anima .band444{
    position: absolute;
    background-color: #e09e28;
    width: 30px;
    height: 100%;
    top: 0px;
    left: 39px;
    z-index: 51;
    animation: band 15s  10.6S  reverse infinite ;
}





/*----------------Nav projet-------------*/
section .left .autre{
    width: 75%;
    margin: 0% 0% 0% 16%;
}

section .left .autre2{
   display: none;
}

section .left .autre h3{
    color: #4A3933;
    font-size: 120%;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    font-weight: 550;
    width: 100%;
    margin-left: 5%;
   
}


section .left .autre .vide{
    width: 100px;
    height: 2px;
    padding-right: 40%;
    background-color: #405B5D;
    margin: 30% 0% 0% 0%;
}


section .left .autre img:hover{
    opacity: 0.6;
}
section .left .autre .lien{
    margin-top: 5%;
    display: flex;
   
  
}
section .left .autre .vide{
    width: 50%;
}



section .left .autre .button{
    width: 65%;
    outline: none;
    text-decoration: none;
    float: right;
    font-size: 95%;
    cursor: pointer;
    font-family: 'Big Shoulders Text', sans-serif;
    font-style: normal;
    color: #4A3933;
    transition: .4s linear;
    text-align: left;
    margin-bottom: 3%;
    z-index: 1000;
}

section .left .autre a {
   width: 7%;
}





/*----------------Droite-------------*/
section .right{
    position: relative;  
    width: 65%;
    height: 100vh;
    float: right;
    overflow-y: scroll;

}

section .right p{
    width: 80%;
    margin-left: 5%;
    font-size: 16px;
    font-family: 'Roboto';
}


/*////////Dashboard////////*/
section .right .img1 {
    width: 100%;
    overflow: hidden;
}

section .right .img1 img{
    width: 100%;
    margin-top: -15%;
}

section .right .maquette img{
    width: 100%;
}
section .right .graph .graph1 img{
    width: 100%;
}
section .right .graph .graph2 img{
    width: 100%;
}
section .right .graph .graph3 img{
    width: 100%;
}
/*//////FIN dashboard////*/




/*//////CinÃ©Plus////*/
section .right .process img{
    width: 100%;
}

section .right .concept img{
    width: 100%;
}


/*/////FIN CinÃ©Plus//////*/


/*/////Apres MMI//////*/


section .right .print {
    width: 100%;

}
section .right .print .aff{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .right .print .aff #aff{
    width: 50%;

}

/*/////Fin apres MMI//////*/


@media screen and (max-width : 1700px) {

    
    section .left .autre .vide{
        margin: 20% 0% 1% 0%;
    }
    



        section .left .autre .vide{
            margin-top: 3%;
    
        }

    

    section .right .affiche .imgaMmi{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imgaMmi3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imgaMmi2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imgaMmi4{
    
        width: 200px;
        height: 400px;
  
    
    }


    section .right .affiche .imgaPicto{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imgaPicto2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imgaPicto4{
    
        width: 200px;
        height: 400px;
  
    
    }




    section .right .affiche .imga{
      
        width: 450px;
        height: 150px;

    }

    section .right .affiche .imga3{
     
        width: 450px;
        height: 150px ;
      
    }

    section .right .affiche .imga2{
        width: 200px;
        height: 400px;

    }
    section .right .affiche .imga4{
    
        width: 200px;
        height: 400px;
  
    
    }


    /*bande animÃ©*/
    section .left .anima .band1{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band2{
        width: 16px;
        height: 100%;
    
    }
    section .left .anima .band3{
        width: 17px;
        height: 100%;
    }
    section .left .anima .band4{
        width: 18px;
        height: 100%;
    }
        
    /* PICTOGRAMME bande*/
    section .left .anima .band11{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band22{
        width: 16px;
        height: 100%;
    
    }
    section .left .anima .band33{
        width: 17px;
        height: 100%;
    }
    section .left .anima .band44{
        width: 18px;
        height: 100%;
    }
    
    /* MMIFOUNDRY bande*/
    section .left .anima .band111{
        width: 12px;
        height: 100%;
    }
    section .left  .anima .band222{
        width: 16px;
        height: 100%;
    
    }
    section .left .anima .band333{
        width: 17px;
        height: 100%;
    }
    section .left .anima .band444{
        width: 18px;
        height: 100%;
    }
    
}

@media  screen and (max-width : 1500px) {

    section .right .affiche .imgaMmi{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaMmi3{
     
        width: 400px;
        height: 100px ;
      
    }

        section .right .affiche .imgaPicto{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 400px;
        height: 100px ;
      
    }

    section .right .affiche .imgaPicto{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imgaPicto3{
     
        width: 400px;
        height: 100px ;
      
    }


    section .right .affiche .imga{
      
        width: 400px;
        height: 100px;

    }

    section .right .affiche .imga3{
     
        width: 400px;
        height: 100px ;
      
    }
    section .left aside p{
        font-size: 13px;
    }
    section .left .autre .vide{
        margin-top: 2%;

    }

   
}

@media screen and (max-width : 1350px) {
    section .left aside p{
        font-size: 13px;
    }

    h1{
        font-size:280% ;
    }
    
    section .right p{
        font-size: 13px;

    }
    
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 350px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 350px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 350px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 350px;
        height: 50px ;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 350px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 350px;
    }
      
    /*bande animÃ©*/
    section .left .anima .band1{
        width: 9px;
    }
    section .left  .anima .band2{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band3{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band4{
        left: 29px;
        width: 12px;
    }

     /*bande animÃ©*/
     section .left .anima .band11{
        width: 9px;
    }
    section .left  .anima .band22{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band33{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band44{
        left: 29px;
        width: 12px;
    }

     /*bande animÃ©*/
     section .left .anima .band111{
        width: 9px;
    }
    section .left  .anima .band222{
        left: 8px;
        width: 11px;
    }
    section .left .anima .band333{
        left: 17px;
        width: 12px;
    }
    section .left .anima .band444{
        left: 29px;
        width: 12px;
    }
    
}

@media screen and (max-width : 1050px) {

       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 250px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 270px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 270px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 250px;
        height: 50px;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 270px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 270px;
    }
      
 
    
}

@media screen and (max-width : 990px) {
    section .left aside p{
        font-size: 11px;
    }
    section .left .autre .button{

        font-size: 75%;
   
    }

    section .right .img1  img{
      margin-top: 0;
    }

    h1{
        font-size:220% ;
    }
    
    section .right p{
        font-size: 11px;
    }
    section .right .affiche p{
        font-size: 11px;
    }
    
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imgaMmi3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imgaMmi2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imgaMmi4{
        width: 150px;
        height: 200px;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imgaPicto3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imgaPicto2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imgaPicto4{
        width: 150px;
        height: 200px;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        width: 200px;
        height: 50px;
    }

    section .right .affiche .imga3{
        width: 200px;
        height: 50px ;
    }

    section .right .affiche .imga2{
        width: 150px;
        height: 200px;
    }
    section .right .affiche .imga4{
        width: 150px;
        height: 200px;
    }
      
    /*bande animÃ©*/
    section .left .anima .band1{
        width: 7px;
    }
    section .left  .anima .band2{
        left: 7px;
        width: 9px;
    }
    section .left .anima .band3{
        left: 15px;
        width: 10px;
    }
    section .left .anima .band4{
        left: 25px;
        width: 10px;
    }
    
     /*bande animÃ©*/
     section .left .anima .band11{
        width: 7px;
    }
    section .left  .anima .band22{
        left: 7px;
        width: 9px;
    }
    section .left .anima .band33{
        left: 15px;
        width: 10px;
    }
    section .left .anima .band44{
        left: 25px;
        width: 10px;
    }

     /*bande animÃ©*/
     section .left .anima .band111{
        width: 7px;
    }
    section .left  .anima .band222{
        left: 7px;
        width: 9px;
    }
    section .left .anima .band333{
        left: 15px;
        width: 10px;
    }
    section .left .anima .band444{
        left: 25px;
        width: 10px;
    }
    
}


@media screen and (max-width : 720px ) {
    html , body{
        overflow: visible;
    }
    section .right .print .aff #aff{
        width: 100%;
    
    }

    section .left{
        margin-top: 5%;
        clear: both;
        width: 100%;
        justify-content: center;
    }
    section .left aside{
        margin: 1%;
    }
    
    section .right{
        clear: both;
        width: 100%;
        height: 100%;
    }   
    
    section .left .autre{
        display: none;
    }
    
    section .left .autre2{
        display: block;
        width: 100%;
        margin-bottom: 10%;
    }
    
    section .left .autre2 h3{
        color: #4A3933;
        font-size: 120%;
        font-family: 'Big Shoulders Text', sans-serif;
        font-style: normal;
        font-weight: 550;
        width: 90%;
        margin-left: 3%;
       
    }
    
    
    section .left .autre2 .vide{
        width: 100%;
        height: 2px;
        padding-right: 40%;
        background-color: #405B5D;
        margin: 5% 0% 1% 0%;
    }
    
    
    section .left .autre2 img:hover{
        opacity: 0.6;
    }
    section .left .autre2 .lien{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    section .left .autre2 .vide{
        width: 60%;
    }
    
    section .left .autre2 .g{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section .left .autre2 .d{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    section .left .autre2 .button{
        width: 70%;
        outline: none;
        text-decoration: none;
        float: right;
        font-size: 95%;
        cursor: pointer;
        font-family: 'Oswald';
        font-style: normal;
        color: #4A3933;
        transition: .4s linear;
        text-align: left;
        margin-bottom: 3%;
        z-index: 1000;
        text-align: center;
    }
    
    section .left .autre2 a {
       width: 7%;
    }
    
    
    section .left nav{
        margin-left: 5%;
    }
    section .left nav ul{
    display: none;
    }
    section .left nav img{
        margin-left: 0px;

    }

    section .left .contents{
        width: 80%;
      
    }
      
       /*MMI FOUNDRY*/
    section .right .affiche .imgaMmi{
      display: none;
    }

    section .right .affiche .imgaMmi3{
      display: none;
    }

    section .right .affiche .imgaMmi2{
        display: none;
    }
    section .right .affiche .imgaMmi4{
        display: none;
    }




       /*Pictogramme*/
    section .right .affiche .imgaPicto{
        display: none;
    }

    section .right .affiche .imgaPicto3{
        display: none;
    }

    section .right .affiche .imgaPicto2{
        display: none;
    }
    section .right .affiche .imgaPicto4{
        display: none;
    }

    /*SYNOPTECH*/

    section .right .affiche .imga{
        display: none;
    }

    section .right .affiche .imga3{
        display: none;
    }

    section .right .affiche .imga2{
        display: none;
    }
    section .right .affiche .imga4{
        display: none;
    }
    section .left .anima .band1{
        display: none;
    }
    section .left  .anima .band2{
        display: none;
    }
    section .left .anima .band3{
        display: none;
    }
    section .left .anima .band4{
        display: none;
    }

    section .left .anima .band11{
        display: none;
    }
    section .left  .anima .band22{
        display: none;
    }
    section .left .anima .band33{
        display: none;
    }
    section .left .anima .band44{
        display: none;
    }

    section .left .anima .band111{
        display: none;
    }
    section .left  .anima .band222{
        display: none;
    }
    section .left .anima .band333{
        display: none;
    }
    section .left .anima .band444{
        display: none;
    }


    section .right .charte{
        width: 100%;
        height: 20%;
        margin-top: 10%;

    }


}

